body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    /* above code will center the container on the page */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 16px;
}

button {
    
    display: inline-block;
    margin: 10px 5px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}