body {
    font-family: cursive;
    background: rgb(243, 185, 243);
}

h1 {
    text-align: center;
}

button {
    background-color: pink;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
    /* below 2 codes will center button on the page */
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: rgb(241, 137, 154);
}

p{
    text-align: center;
}

li {
    counter-increment: my-counter; /* add a counter for each li element */
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

li:before {
    content: counter(my-counter) "."; /* display the counter value */
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}


li .delete-button {
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 5px 10px;
}

label,
input[type="text"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    font-size: 18px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

input[type="text"] {
    border-bottom: 2px solid #ccc;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    /* above code will center the container on the page */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(250, 0, 0, 0.2);
}